* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: 'Inter';
  font-weight: 400;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;

}

a:hover {
  color: #4f58ff;
}

h2 {
  font-size: 23px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 50px;
  gap: 10px;

}